body {
	margin:0;
	padding:0;
}
 
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

h2 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  margin: 10px;
  font-size: 1em;
}

h4 {
  margin: 10px;
}

ul,p {
  font-size: 0.85em;
  margin: 10px;
}

ul {
  	padding-left: 2em;
}


.map-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#intro {
  text-align: justify;
}

#station_info {
  border-top: 1px dotted gray;
}

#environmental_risks {
  border-top: 1px dotted gray;
}

#social_risks {
  border-top: 1px dotted gray;
}

#references {
  border-top: 1px dotted gray;
}


@media (max-width: 800px) {
  .map-overlay {
	  width: 200px;
	  margin-right: 10px;
	  margin-top: 5px;
	  margin-bottom: 5px;
  }

  h2,h3,h4,ul,p {
  	font-size: 0.7em;
    margin: 5px;
  }

  ul {
  	padding-left: 2em;
  }
}


@media (max-width: 500px) {
  .map-overlay {
	  width: 150px;
	  margin-right: 2px;
	  margin-top: 2px;
	  margin-bottom: 2px;
  }

  h2,h3,h4,ul,p {
  	font-size: 0.5em;
    margin: 5px;
  }

  ul {
  	padding-left: 2em;
  }
} 

