body {
	margin:0;
	padding:0;
}
 
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

h2 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  margin: 10px;
  font-size: 1em;
}

h4 {
  margin: 10px;
}

ul,p {
  font-size: 0.85em;
  margin: 10px;
}


.map-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#intro {
  text-align: justify;
}

#station_info {
  border-top: 1px dotted gray;
}

#environmental_risks {
  border-top: 1px dotted gray;
}

#social_risks {
  border-top: 1px dotted gray;
}

#references {
  border-top: 1px dotted gray;
  font-size: 0.8em;
}